<div>
	<app-topbar></app-topbar>
	<div class="container">
		<form class="form">
			<input class="form-control" type="text" placeholder="email...">
			<input class="form-control" type="password" placeholder="password...">
			<button class="btn btn-primary w-100 submit-btn" type="submit">Login</button>
		</form>
		<a routerLink="/signup" class="ps-2">Create an account</a>
		
		<div class="other-signup mt-5">
			<p class="text-center text-white mt-4">Other login options</p>
			<button class="btn other-login-btn w-100" type="button" (click)="googleLogin()">
				<fa-icon class="ms-2 me-4 google" [icon]="faGoogle"></fa-icon> Login with Google
			</button>
			<button class="btn other-login-btn w-100" type="button" (click)="facebookLogin()">
				<fa-icon class="ms-2 me-4 facebook" [icon]="faFacebook"></fa-icon> Login with Facebook
			</button>
		</div>
	</div>
</div>