@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800;900&display=swap");

:root {
	--bg-color: #15202B;
	--bg-color-light: #172D43;
	--red-color: #ED553B;
	--light-blue: #3CAEA3;
	--message-send-color: #173F5F;
	--message-recieve-color: #0D1317;
	--send-button-color: #20639B;
	--send-icon-color: #76B3E5;
}

body {
	font-family: "Nunito", sans-serif;
	background: var(--bg-color);
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}

.main {
	width: 500px;
	height: 100vh;
	margin: 0 auto;
}
.text-red {
	color: var(--red-color);
}
.other-login-btn {
	background: var(--bg-color-light);
	margin: 10px 0;
	padding: 10px 10px;
	text-align: left;
	font-size: 18px;
	color: white;
	border-radius: 10px;
	display: flex;
	align-items: center;
}
.other-login-btn .google {
	color: #EA4335;
	font-size: 26px;
}
.other-login-btn .facebook {
	color: #4267B3;
	font-size: 26px;
}
.other-login-btn:hover {
	color: white;
	background-color: var(--message-send-color);
}

@media only screen and (max-width: 600px) {
	.main {
		width: 100%;
	}
}